.sidebar_menu {
    background-color: var(--background);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-radius: 1rem;
    height: fit-content;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.information_heading {
    color: var(--base-color);
}

.menu_item {
    display: flex;
    align-items: center;
}

.menu_item:focus,
.menu_item,
.menu_item:hover,
.menu_item_inner:hover,
.menu_item_inner {
    text-decoration: none;
    color: var(--base-font-color);
    position: relative;
    width: fit-content;
    outline: none;
}

.menu_item_inner::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--base-color);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .15s ease-in;
}

.menu_item:focus .menu_item_inner:after,
.menu_item:hover .menu_item_inner:after,
.menu_item_selected .menu_item_inner:after {
    opacity: 1;
}

.menu_item svg {
    margin-right: .75rem;
    width: 20px;
    height: 20px;
}

button.menu_item {
    background-color: transparent;
    border: none;
    padding: 0;
}

button.menu_item svg {
    transform: rotate(180deg);
}

@media screen and (min-width: 1025px) {
    .sidebar_menu {
        max-width: 343px;
        padding: 2rem;
    }
}