header {
    width: 100%;
    min-height: 45px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.bar.hide {
    transform: translateY(-100%);
}

.bar.show {
    transform: translateY(0);
}

.discount_banner {
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount_code {
    color: var(--background);
    line-height: 175%;
    margin-top: 2px;
}

.bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    transform: translateY(0);
    transition: transform .5s ease-in-out;
    background: var(--background);
    box-shadow: 0 0 15px 0 #111;
}

.label {
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    margin-left: 24px;
}

.title{
    color: var(--base-color);
    margin: 5px;
    font-family: 'Copperplate', fantasy;
    letter-spacing: 7px;
}

.account_button {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: background-color .25s ease-in-out;
}

.account_icon {
    font-size: 24px;
    color: var(--base-color);
    transition: 0.2s;
}

.account_button:focus,
.account_button:hover {
    background-color: rgba(160, 160, 160, 0.2);
    outline: none;
}

.navigation {
    margin-right: 24px;
    margin-left: auto;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo {
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_image {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .logo {
        height: 38px;
    }

    .bar {
        height: 75px;
    }
}