header {
    width: 100%;
    min-height: 45px;
    background: var(--background);
    box-shadow: 0 0 15px 0 #111;
    position: relative;
    z-index: 1;
}

.discount_banner {
    width: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount_code {
    color: var(--background);
    font-weight: 700;
    margin: 8px 0;
}

.bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.label {
    justify-content: center;
    align-items: center;
    color: var(--base-color);
    margin-left: 24px;
}

.title{
    color: var(--base-color);
    margin: 5px;
    font-family: 'Copperplate', fantasy;
    letter-spacing: 7px;
}

.navigation {
    margin-right: 24px;
    margin-left: auto;
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo {
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo_image {
    height: 100%;
}

@media screen and (min-width: 768px) {
    .logo {
        height: 38px;
    }

    .bar {
        height: 75px;
    }
}