.cart_item::after {
    width: 100%;
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 2rem);
    height: 1px;
    left: 1rem;
    background-color: var(--base-font-color);
}

.cart_item:last-child::after{
    content: none;
}

.cart_item:hover{
    background-color: var(--background-hover);
}

.cart_item:hover .quantity_display{
    background-color: var(--background) !important;
}

.cart_item_body{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: space-between;
}

.flex_info,
.actions,
button.remove_button {
    display: flex;
    align-items: center;
    gap: .25rem;
    justify-content: center;
}

.flex_info,
.actions {
    justify-content: space-between;
    margin-top: .5rem;
    gap: 1rem;
}

.icon {
    width: 1.1rem;
    height: 1.1rem;
}

#alert{
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 50;
    background-color: var(--background-hover);
    border-color: var(--complementary-hover);
    color: var(--complementary-hover);
}

#cancel_button {
    margin-left: 1rem;
}

#alert button{
    border-color: var(--complementary-color);
    color: var(--base-font-color);
    background-color: var(--complementary-color);
    padding: 3px 10px;
}

#alert button:focus{
  box-shadow: 0 0 0 0.25rem rgba(127, 56, 236, .5);
}

#alert button:hover{
    background-color: var(--complementary-hover);
}

#alert button:active{
    background-color: var(--complementary-hover);
}

.cart_item_title {
    color: var(--base-color);
}

.cart_item img {
    width: 100%;
    aspect-ratio: 1.25;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    align-self: flex-start;
}

a.cart_item:hover,
a.cart_item{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1rem;
    position: relative;
    gap: 1rem;
    border-radius: 1rem;
    color: var(--base-font-color);
    text-decoration: none;
    transition: background-color .25s ease-in-out;
}

@media screen and (max-width: 500px) {
    button.remove_button {
        width: 100%;
    }

    .cart_item_body{
        gap: 0;
    }

    .actions {
        flex-direction: column;
        margin-top: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .cart_item img {
        max-width: 200px;
    }

    a.cart_item:hover,
    a.cart_item{
        padding: 2rem;
        gap: 1.5rem;
        flex-direction: row;
    }

    .cart_item::after {
        left: 2rem;
        width: calc(100% - 4rem);
    }
}