.cart_item{
    display: flex;
    width: 100%;
    padding: 20px;
    padding-right: 50px;
    border-bottom: 1px solid #4e8f90;
}

.cart_item:hover{
    background-color: var(--background-hover);
}

.cart_item:hover .quantity_display{
    background-color: var(--background);
}

.cart_item_body{
    width: 100%;
    position: relative;
}

.cart_item img{
    width: 40%;
    margin-right: 15px;
}

.cart_item h5{
    font-size: 1.2em;
    color: var(--base-color);
    max-width: 60%;
}

.cart_item h3{
    font-size: 1em;
    color: skyblue;
}

#item_description{
    color: lavender;
}

#item_quantity{
    text-align: center;
    bottom: 0;
    right: 0;
    display: block;
    margin: 0;
    width: 25px;
    background-color: lavender;
}

#item_price{
    font-size: 1.3em;
    color: lavender;
    letter-spacing: .8px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-10%);
}

.quantity_counter{
    width: 165px;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.quantity_button{
    position: absolute;
    background-color: var(--base-color);
    color: #222;
    font-size: 1.3em;
    font-weight: bolder;
    width: 42px;
    height: 32px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.quantity_button > p{
    margin-bottom: 2px;
}

.quantity_button:hover{
    background-color: var(--base-hover);
}

.quantity_button:active{
    background-color: var(--base-hover);
    transform: scale(0.9);
}

.quantity_display{
    text-align: center;
    margin: 0%;
    width: 165px;
    height: 25px;
    background-color: #383d49;
    border-radius: 25px;
    color: lavender;
}

.quantity_button_decrement{
    left: -2px;
}

.quantity_button_increment{
    right: -2px;
}

.remove_button{
    position: absolute;
    top: 0;
    right: 0;
    width: 114px;
    padding: 5px 20px;
    border-radius: 3px;
    border: 2px solid var(--complementary-color);
    color: var(--complementary-color);
    font-weight: 500;
    background-color: transparent;
    transition: .5s;
}

.remove_button:hover{
    transition: .5s;
    background-color: var(--complementary-color);
    color: lavender;
}

.remove_button:active{
    transform: scale(0.9);
}

#alert{
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 50;
    background-color: #ba8dff;
    border-color: #ba8dff;
    color: var(--complementary-hover);
}

#alert button{
    border-color: var(--complementary-hover);
    color: var(--complementary-hover);
    padding: 3px 10px;
}

#alert button:focus{
  box-shadow: 0 0 0 0.25rem rgba(127, 56, 236, .5);
}

#alert button:hover{
    background-color: var(--complementary-hover);
    color: lavender;
}

#alert button:active{
    background-color: var(--complementary-hover);
}

#cancel_button{
    margin-left: 10px;
}

.icon{
    position: absolute;
    top: 9px;
    left: 15px;
}