.product_form {
    background-color: var(--background);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    border-radius: 1rem;
    height: fit-content;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.product_form_wrapper {
    width: 100%;
}

.product_image {
    aspect-ratio: 1.25;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.button_container {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.action_button {
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .product_form_wrapper {
        max-width: 30%;
        min-width: 350px;
    }

    .product_form {
        padding: 2rem;
        position: sticky;
        top: 2rem;
    }
}