.container {
    background-color: var(--background);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-radius: 1rem;
    height: fit-content;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    min-height: 217.6px;
}

.orders_heading {
    color: var(--base-color);
}

.button_container {
    display: flex;
}

.button {
    background: transparent;
    border: none;
    color: var(--base-font-color);
    padding: .5rem 1rem;
    position: relative;
    transition: background-color .15s ease-in-out;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    background-color: var(--base-color);
}

.list_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.selected {
    background-color: var(--background-hover);
}

.selected::after {
    opacity: 1;
}

@media screen and (min-width: 1025px) {
    .container {
        padding: 2rem;
    }
}