.icon{
    width: 24px;
    height: 24px;
    color: var(--base-color);
}

.search_button{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  
  .search_bar > .search_button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    border: none;
  }
  
  .search_button:focus,
  .search_bar:has(:focus) > .search_button,
  .search_bar:hover > .search_button {
    background-color: rgba(160, 160, 160, 0.2);
    outline: none;
  }
  
  .search_txt {
    position: absolute;
    top: 5px;
    right: 100%;
    border: none;
    outline: none;
    padding: 0;
    height: 35px;
    width: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    transition: 0.4s width, 0.4s padding;
  }
  
  .search_bar:has(:hover) .search_txt,
  .search_bar:has(:focus) .search_txt,
  .search_button:focus + .search_txt,
  .search_bar:hover > .search_txt{
    width: 240px;
    padding: 0 0.75rem;
    border-bottom: 1px solid var(--base-color);
    border-right: 0;
  }