.items_container{
    box-sizing: border-box;
    max-width: 83%;
    padding: 0 70px 70px 70px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }