.items_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-sizing: border-box;
    max-width: 83%;
    padding: 0 15px 15px 0;
    overflow-x: hidden;
    height: fit-content;
}