:root {
  --base-color: #00ced1;
  --base-hover: #25b6b8;
  --base-font-color: #FFFFFF;
  --complementary-color: #ce7807;
  --complementary-hover: #de922e;
  --background: #20232a;
  --background-hover: #30343e;
  --page-background: #4e8f90;
  --brand-color: skyblue;
  --header-height: 60px;
  --ann-bar-height: 32.8px;
  --footer-height: 349px;
  --bolded-font: 'BoldedFont';
  --paragraph-font: 'ParagraphFont';
  --scrollbar-background: #2b2f38;
  --scrollbar-color: #00bdbf;
  --scrollbar-hover: #009a9c;
}

/* 
======== FONTS ========
*/

@font-face {
  font-family: 'BoldedFont';
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ParagraphFont';
  src: url('./fonts/PlusJakartaSans-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root * {
  font-family: var(--paragraph-font);
}

:root p {
  margin: 0;
}

.u-p1.rte *,
.u-s1,
.u-s1,
.u-p1 {
  font-size: 1.25rem;
}

.u-p2.rte *,
.u-s2,
.u-p2 {
  font-size: 1rem;
}

.u-s3 td,
.u-p3.rte *,
.u-s3,
.u-p3 {
  font-size: 0.875rem;
}

.u-p4.rte *,
.u-s4,
.u-s4 td,
.u-p4 {
  font-size: 0.75rem;
}

.u-l1 {
  font-size: 2.5rem;
}

.u-h1 {
  font-size: 2rem;
}

.u-h2 {
  font-size: 1.5rem !important;
}

.u-h3 {
  font-size: 1.1rem;
}

.u-pb1 button,
.u-pb1 th,
.u-pb1 p,
.u-pb1 {
  font-size: 1.1rem !important;
}

.u-pb1 button,
.u-pb1 th,
.u-pb1 p,
.u-pb1,
.u-l1,
.u-s1,
.u-s2,
.u-s3,
.u-s4,
.u-s3 td,
.u-s4 td,
.u-h1,
.u-h2,
.u-h3 {
  font-family: var(--bolded-font) !important;
  margin: 0;
}

/* 
======== GENERAL ========
*/

main {
  min-height: calc(100vh - var(--ann-bar-height) - var(--header-height) - var(--footer-height));
}

.announcement_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

header {
  margin-top: var(--ann-bar-height);
  width: 100%;
  min-height: 45px;
  position: sticky;
  top: 0;
  z-index: 100;
}

body.no_scroll_lock {
  padding-right: 0 !important;
  overflow-y: auto;
}

body {
  overflow: hidden;
}

.scrollbar_placeholder {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: var(--scrollbar-background);
}

body.no_scroll_lock .scrollbar_placeholder {
  display: none;
}

.App {
  text-align: center;
}

.page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--page-background);
  color: white;
  justify-content: space-between;
}

.main {
  min-height: calc(100vh - var(--ann-bar-height) - var(--header-height) - var(--footer-height));
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  padding: 1rem 0 !important;
}

.swiper .swiper-slide {
  height: auto;
}

.alert {
  cursor: default;
}

.custom-display .quantity_display {
  background-color: var(--background-hover);
}

.cart-item:has(:focus) .quantity_display,
.cart-item:focus .quantity_display,
.cart-item:hover .quantity_display {
  background-color: var(--background);
  transition: background-color .25s ease-in-out;
}

.animated_content {
  opacity: 0;
}

.animationsDisabled .animated_content,
.no-js .animated_content,
.no-js .animated_content {
  opacity: 1;
}

footer {
  width: 100%;
  position: relative;
  box-shadow: 0 10px 20px 5px black;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  z-index: 50;
}

/* 
======== FORMS AND INPUTS ========
*/

@media screen and (max-width: 767px) {
  .form .row {
    flex-direction: column;
  }
}

.valid-feedback {
  display: block !important;
  color: #0BDA51 !important;
  font-size: .75rem !important;
}

.discount_code {
  position: relative;
}

.discount_code .valid-feedback {
  position: absolute;
  bottom: .5rem;
}

.form .invalid-feedback {
  font-size: .75rem;
  display: block;
  visibility: hidden;
  min-height: 1.125rem;
  color: rgb(250, 65, 65);
}

.form .form-floating > input {
  padding-bottom: .75rem;
  height: 52px;
  font-size: 1rem;
  color: var(--base-font-color);
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-color: var(--base-color);
}

.form.checkout .invalid-feedback {
  margin-bottom: .5rem;
}

.form input,
.form .form-floating > select:focus,
.form .form-floating > select,
.form .form-floating > textarea,
.form .form-floating > input {
  padding-bottom: 1rem;
  height: 52px;
  font-size: 1rem;
  color: var(--base-font-color);
  background-color: transparent;
  box-shadow: none;
  outline: none;
  border-color: var(--base-color);
  resize: none; 
}

.form .form-floating > select:focus,
.form .form-floating > select {
  cursor: pointer;
  padding: 1rem .75rem 0 .75rem;
}

.form .form-floating > select option {
  background-color: var(--background); 
  color: var(--base-color);
}

.form .form-floating > select option:disabled {
  color: var(--complementary-color);
}

.form .form-floating > textarea {
  height: 150px;
}

.form .form-floating > label {
  font-size: 1rem;
  height: 52px;
  padding: .75rem .75rem;
  color: var(--base-font-color);
  padding-right: calc(1.5em + .75rem);
}

.form .form-floating > .form-control-plaintext ~ label, 
.form .form-floating > .form-control:focus ~ label, 
.form .form-floating > .form-control:not(:placeholder-shown) ~ label, 
.form .form-floating > .form-select ~ label {
  transform: scale(.7) translateY(-.4rem) translateX(.15rem);
}

.form .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke='%2300ced1' stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
}

.file_input {
  position: relative;
}

.form input[type="file"] {
  position: absolute;
  padding: .75rem .6rem .76rem .6rem;
  left: 0;
  top: 0;
  padding-left: 3.7rem;
  background-color: transparent;
  border: 1px solid var(--base-color);
  color: var(--base-font-color);
}

.form .file_input label {
  position: relative;
  display: inline-block;
  height: 52px;
  padding: .75rem 1rem;
  background: var(--base-hover);
  border: 1px solid var(--base-color);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 2;
  cursor: pointer;
  color: var(--background);
  margin: 0;
}

.form .form-select.is-valid:not([multiple]):not([size]), 
.form .form-select.is-valid:not([multiple])[size="1"], .was-validated 
.form .form-select:valid:not([multiple]):not([size]), 
.form .was-validated .form-select:valid:not([multiple])[size="1"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%2300ced1' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e"),url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300ced1' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.form .form-control.is-valid, 
.form .was-validated .form-control:valid {
  border-color: var(--base-color) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%2300ced1%27 d=%27M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e");
}

/* 
======== USER ACCESSABILITY ========
*/

.form .file_input input:focus,
.form .form-floating > textarea:focus,
.form .form-floating > select:focus,
.form .form-floating > input:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 206, 209, 0.25);
}

a.button_complementary.user-is-tabbing :focus,
button.button_complementary.user-is-tabbing :focus {
  box-shadow: 0 0 0 0.25rem rgba(206, 120, 7, 0.25);
}

.alert button:focus {
  box-shadow: var(--bs-btn-focus-box-shadow);
}

button:focus,
a:focus {
  outline: 1px solid var(--base-color);
  outline-offset: 5px;
  border-radius: 5px;
}

button:focus {
  outline-offset: 0;
}

tr:focus,
body:not(:has(.user-is-tabbing)) :focus {
  box-shadow: none !important;
  outline: none !important;
}

/* 
======== BUTTONS ========
*/

.alert a,
.alert button,
a.btn-primary,
button.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--complementary-color);
  --bs-btn-border-color: var(--complementary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--complementary-hover);
  --bs-btn-hover-border-color: var(--complementary-hover);
  --bs-btn-focus-shadow-rgb: 222, 146, 46;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--complementary-hover);
  --bs-btn-active-border-color: var(--complementary-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--complementary-hover);
  --bs-btn-disabled-border-color: var(--complementary-hover);
}

a.button_complementary,
button.button_complementary {
  padding: .25rem 1.5rem;
  min-height: 46px;
  transition: background-color .5s;
  background-color: var(--complementary-color);
  color: var(--base-font-color);
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.button_complementary:focus,
button.button_complementary:focus,
a.button_complementary:hover,
button.button_complementary:hover {
  background-color: var(--complementary-hover);
  color: var(--base-font-color);
}

a.button_transparent,
button.button_transparent {
  background-color: transparent;
  border: none;
  color: var(--base-font-color);
  text-decoration: none;
  outline: none;
}

a.button_transparent:focus,
button.button_transparent:focus,
a.button_transparent:hover,
button.button_transparent:hover {
  text-decoration: underline;
  color: var(--base-font-color);
}

/* 
======== SCROLLBAR ========
*/

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 1rem;
}

html,
body {
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background);
}

/* Track */
html::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

@media screen and (max-width: 767px) {
  .not_mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
  .not_pocket {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 75px;
    --footer-height: 199px;
  }
}

@media screen and (min-width: 1025px) {
  :root {
    --ann-bar-height: 39.8px;
  }
  
  .not_desktop {
    display: none !important;
  }
  
  .u-h1 {
    font-size: 2rem;
  }

  .u-h3 {
    font-size: 1.35rem;
  }
}