.container,
.module {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container  {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background);
    border-radius: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.image {
    aspect-ratio: 1.25;
    min-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.heading {
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    background-color: var(--background);
}

.heading_text {
    color: var(--complementary-color);
}

.product_heading {
    color: var(--base-color);
}

.add_to_cart {
    width: 100%;
    margin-top: .5rem;
}

.price {
    color: var(--complementary-hover);
    font-size: 1.5rem !important;
    letter-spacing: 1px;
}

.actions,
.product_info,
.header,
.detail {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.header {
    gap: .5rem;
    margin-bottom: 1rem;
}

.product_info {
    justify-content: space-between;
    width: 100%;
}

.actions {
    gap: 1rem;
    margin-top: 1.5rem;
}

.tooltip > div:first-child{
    display: none;
}

.tooltip > div:last-child{
    background-color: var(--complementary-hover);
}

.tooltip > div:last-child {
    margin-bottom: .5rem;
}

@media screen and (min-width: 1025px) {
    .module {
        padding: 3rem 3rem 2rem 3rem;
        gap: 2rem;
    }

    .container {
        flex-direction: row;
        padding: 2rem;
        gap: 1.5rem;
        margin-bottom: 1rem;
    }

    .actions {
        margin-top: 0;
    }
}