.container,
.item_container,
.order_sumary,
.item_info,
.header {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.container {
    gap: 1rem;
}

.item_info {
    gap: .5rem;
}

.order_sumary {
    gap: .75rem;
}

.item_container {
    gap: 1rem;
}

.order_item {
    display: flex;
    gap: 1rem;
}

.item_image {
    aspect-ratio: 1.25;
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
}

.total_price,
.price_item {
    display: flex;
    justify-content: space-between;
}

.total_price {
    padding-top: .75rem;
    border-top: 1px solid var(--base-color);
}

.total_price > p {
    font-size: 1.25rem !important;
}

.heading {
    color: var(--complementary-hover);
}

.item_heading {
    color: var(--base-color);
}

@media screen and (min-width: 1025px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }     
}