.gray {
    font-family: Verdana;
    color: gray;
    font-size: 12px;
}

.copyright{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: Verdana;
    color: gray;
    font-size: 12px;
  }

  .footer_line{
    position: absolute;
    bottom: 50px;
    width: 45%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--base-color);
  }

  footer {
    width: 100%;
    position: relative;
    height: 185px;
    box-shadow: 0 10px 20px 5px black;
    background-color: var(--background);
  }

  .footer_table {
    table-layout: fixed;
    max-width: 100%;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Verdana;
    border-spacing: 10px;
    white-space: nowrap;
    color: white;
}

.footer_table td{
    padding: 0px 4vw;
}