button.choose_button{
    width: 100%;
    text-align: center;
    color: var(--base-color);
    background-color: var(--background-hover);
    font-size: 1em;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--base-color);
    padding: .5rem;
    transition: background-color .25s ease-in-out
}

button.choose_button:not(.selected):focus,
button.choose_button:not(.selected):hover {
    background-color: var(--background-hover) !important;
    outline: none;
}

.brand_button{
    padding: 2px 10px;
    color: #20232a;
    border-radius: 5px;
    background-color: var(--base-color);
    font-size: 1rem;
    border: none;
    font-weight: bold;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
}

button.brand_button:focus,
button.brand_button:hover {
    background-color: var(--base-color) !important;
    color: var(--background-hover) !important;
    outline: none;
}