.register_container {
    background-color: var(--background);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 343px;
    align-items: center;
    margin: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.register_heading {
    color: var(--complementary-hover);
    margin-bottom: .5rem;
}

.login_button {
    margin-left: .5rem;
}

.register_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}

.register_input {
    min-width: 300px;
    padding: .5rem 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--base-font-color);
    color: var(--base-font-color);
    outline: none;
}

.login_upsell {
    margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
    .register_container {
        padding: 3rem;
        margin: 3rem;
        max-width: 412px;
    }
}