.cart_button {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 100px;
}

.icon{
    font-size: 24px;
    color: #7CFC00;
    margin-right: 2px;
    margin-top: 5px;
    transition: 0.2s;
}

.cart_button:hover{
    background-color: rgba(160, 160, 160, 0.2);
}

#popover{
    position: absolute;
    max-width: 250px;
    box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.1);
    --bs-popover-border-color: none;
}

#popover > div{
    --bs-popover-bg: #7CFC00;
}

#popover_header{
    background-color: #7CFC00;
    color: #2b2f38;
    text-align: center;
    --bs-popover-header-bg: transparent;
}

#popover_body{
    background-color: #474d5c;
    color: lavender;
    padding: 0;
    border-bottom-left-radius: calc(0.5rem - 1px);
    border-bottom-right-radius: calc(0.5rem - 1px);
}

.cart_item_container{
    width: 100%;
    max-height: 350px;
    overflow-y: scroll;
    padding-left: 18px;
}

.cart_item_container > div:first-child{
    margin-top: 18px;
    border-top: 1px solid lavender;
    padding-top: 10px;
}

.cart_item{
    width: 90%;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid lavender;
}

.cart_item > h5{
    font-size: 1.2em;
}

.cart_item_body{
    display: flex;
}

.cart_item_body > img{
    width: 40%;
}

.cart_item_body > div{
    width: 60%;
    position: relative;
}

#item_quantity{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    margin: 0;
    width: 25px;
    background-color: #2b2f38;
}

#item_price{
    color: plum;
    position: absolute;
    top: 0;
    right: 0;
    letter-spacing: .8px;
}

.button_container{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2f38;
    display: flex;
    flex-direction: column;
}

.display_none{
    display: none;
}

.button_container > h4{
    font-size: 1.3em;
    letter-spacing: 1px;
    color: plum;
    text-align: center;
}

.button_container a{
    padding: 5px 20px;
    border: none;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
}

.go_to_cart{
    margin-top: 5px;
    background-color: #7CFC00;
}

.go_to_cart{
    color: #2b2f38;
}

.go_to_cart:hover{
    background-color: #58b300;
}

.go_to_cart:hover{
    color: #2b2f38;
}

.checkout{
    background-color: #7F38EC;
    color: lavender;
}

.checkout:hover{
    background-color: #581eb1;
}

.checkout:hover{
    color: lavender;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2b2f38;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7CFC00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #58b300;
}