.step_lable{
    color: gray;
    font-style: italic;
    margin: 0;
}

.heading {
    color: var(--base-color);
    margin-bottom: 1.25rem;
}

.payment_info_container{
    padding: 1rem;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0 0 16px 0 #222;
    margin-top: 2rem;
    border-radius: 1rem;
}

.button_container{
    display: flex;
    align-items: center;
}

.selected_card{
    margin-left: 25px;
    font-size: 2em;
    font-family: 'Arial';
    letter-spacing: .8px;
}

.payment_info_container img{
    width: 96px;
}

.submit_button {
   width: 100%;
}

span.cvc_input {
    background-color: var(--base-hover);
    border-color: var(--base-color);
    color: var(--background);
}

@media screen and (min-width: 768px) {
    .payment_info_container {
        padding: 2rem;
    }
}