
.step_lable{
    color: gray;
    font-style: italic;
    margin: 0;
}

.shipping_info_container{
    padding: 1rem;
    width: 100%;
    background-color: var(--background);
    box-shadow: 0 0 16px 0 #222;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.submit_button{
    width: 100%;
    margin-top: .5rem;
}

.heading {
    color: var(--complementary-hover);
}

.subheading {
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

span.mobile_input {
    background-color: var(--base-hover);
    border-color: var(--base-color);
    color: var(--background);
}

@media screen and (min-width: 768px){
    .shipping_info_container{
        border-top-right-radius: 1rem;
        padding: 1rem 2rem 2rem 2rem;
    }    
}